@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: sans-serif;
  background-color: #1B1C21;
  background-image: url('../src/assets/burst_dark.svg');
  background-size: cover;
  padding: 150px 40px;
  font-family: "Montserrat", sans-serif;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}
h1{
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 15px 0px;
}
br {
  display: block;
  margin: 10px 0;
  content: "";
}